// Colores
$color-bg: #0a0a23;
$color-texto: #ffffff;
$color-acento1: #ff4dd2;
$color-acento2: #39ff14;
$color-acento3: #f67700;
$color-acento4: #fff200;
$color-acento5: #7295ff;
$color-footer-bg: #1a1a1a;
$color-footer-text: #ffb7ea;

// Tipografías
$font-pixel: 'Press Start 2P', cursive;
$font-base: 'Roboto', sans-serif;

// Tamaños
$padding-general: 20px;
